/* Variables */

:root {
    --color-red: #cc241d;
    --color-green: #98971a;
    --color-yellow: #d79921;
    --color-blue: #458588;
    --color-purple: #b16286;
    --color-aqua: #689d6a;
    --color-black: #1d2021;
    --color-dark: #282828;
    --color-white: #fbf1c7;
    --color-light: #ebdbb2;
    --color-background: var(--color-dark);
    --color-foreground: var(--color-light);
}

/* Global */

body {
    /* Structure */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* View */
    background-color: var(--color-background);
    font-family: "Ubuntu";
    color: var(--color-foreground);
}

/* Header */

header {
    /* Structure */
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header img {
    /* Structure */
    height: 100%;
    margin: 0 30px;
}

header h1 {
    /* View */
    font-size: 54px;
}

/* Main */

main {
    /* Structure */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    /* Structure */
    display: flex;
    flex-direction: column;
}

nav a {
    /* Display */
    width: 200px;
    margin: 15px 0;
    padding: 20px 15px;
    /* View */
    background-color: var(--color-black);
    border: 6px solid var(--color-foreground);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-foreground);
}

/* Footer */

footer {
    /* Structure */
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* View */
    background-color: var(--color-black);
}
